@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html,
body {
  margin: 0px;
  padding: 0px;

  * {
    font-family: 'Inter', sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
  }
}

button {
  cursor: pointer;
  font-size: 1rem;

  &:disabled {
    cursor: not-allowed;
  }
}

#main-block {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#metrics-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.25rem;
  width: 10rem;

  .metrics-item-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .metrics-item-label {
      font-size: 0.8rem;
      color: #a5a5a5;
    }

    .metrics-item-value-block {
      display: block;
      text-align: center;
      border-radius: 0.25rem;
      border: 1px solid #dbdbdb;
      background: #ffffff;
      padding: 0.5rem 0rem;
      width: 100%;
    }
  }
}

#game-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: stretch;
  width: 10rem;

  #color-name-block {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    transition: color 0.1s ease-in-out;

    &.correct {
      color: #43b338ff;
    }

    &.incorrect {
      color: #cf3838ff;
    }
  }

  #color-selectors-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.25rem;
    row-gap: 0.25rem;

    .color-selector-button {
      width: 100%;
      aspect-ratio: 1;
      background-color: white;
      border: 1px solid gray;
      border-radius: 0.25rem;

      transition: opacity 0.5s ease-in-out;

      &:disabled {
        opacity: 0.5;
      }
    }
  }
}

#controls-block {
  display: flex;
  flex-direction: column;
  width: 10rem;
  align-items: stretch;
  gap: 1rem;

  #control-button {
    border-radius: 0.25rem;
    border: 1px solid #dbdbdb;
    padding: 0.5rem 1rem;
    background: #ffffff;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #e9e9e9;
    }
  }
}

#rating-block {
  width: 10rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;

  #rating-heading {
    font-size: 1.25rem;
    font-weight: 600;
  }

  #rating-list {
    display: flex;
    flex-direction: column;

    .rating-list-item-block {
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #dbdbdb;
      padding: 0.25rem 0rem;

      &:last-child {
        border-bottom: 0px;
      }
    }
  }
}
